---
name: Run Molecule Test

on:
  workflow_call:
    inputs:
      scenario:
        required: true
        type: string
      image:
        required: false
        type: string
        default: 'geerlingguy/docker-ubuntu2404-ansible:latest'
      command:
        required: false
        type: string
      runner:
        required: false
        type: string
        default: ubuntu-24.04
    secrets:
      tailscale_key:
        required: true

env:
  # https://www.jeffgeerling.com/blog/2020/getting-colorized-output-molecule-and-ansible-on-github-actions-ci
  PY_COLORS: '1'
  ANSIBLE_FORCE_COLOR: '1'

defaults:
  run:
    # This hellish path is a combination of requirements from GitHub runners & molecule with ansible collections
    working-directory: '/home/runner/work/ansible-collection-tailscale/ansible-collection-tailscale/collections/ansible_collections/artis3n/tailscale'

jobs:
  run-scenario:
    name: "Run Molecule Scenario - ${{ inputs.image }} / ${{ inputs.scenario }}"
    runs-on: ${{ inputs.runner }}
    environment: E2E

    steps:
      # nosemgrep: yaml.github-actions.security.pull-request-target-code-checkout.pull-request-target-code-checkout
      - uses: actions/checkout@v6
        with:
          ref: ${{ github.event.pull_request.head.sha }}
          # This hellish path is a combination of requirements from GitHub runners & molecule with ansible collections
          path: '/home/runner/work/ansible-collection-tailscale/ansible-collection-tailscale/collections/ansible_collections/artis3n/tailscale'

      # Technically, uv will manage python version but this action will cache it, making python installation faster
      - name: Set up Python 3.x
        uses: actions/setup-python@v6
        with:
          python-version-file: 'collections/ansible_collections/artis3n/tailscale/pyproject.toml'

      - name: Install dependency manager
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true

      - name: Install packages
        run: uv sync --frozen

      - name: Run scenario
        run: uv run molecule test --scenario-name "${{ inputs.scenario }}"
        working-directory: 'collections/ansible_collections/artis3n/tailscale/extensions'
        env:
          MOLECULE_DISTRO: "${{ inputs.image }}"
          MOLECULE_COMMAND: "${{ inputs.command }}"
          TAILSCALE_CI_KEY: "${{ secrets.tailscale_key }}"
