---
name: CI

on:
  pull_request:
    branches:
     - main

env:
  # https://www.jeffgeerling.com/blog/2020/getting-colorized-output-molecule-and-ansible-on-github-actions-ci
  PY_COLORS: '1'
  ANSIBLE_FORCE_COLOR: '1'

defaults:
  run:
    # This hellish path is a combination of requirements from GitHub runners & molecule with ansible collections
    working-directory: '/home/runner/work/ansible-collection-tailscale/ansible-collection-tailscale/collections/ansible_collections/artis3n/tailscale'

jobs:
  lint:
    name: "Lint Checks"
    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@v6
        with:
          # This hellish path is a combination of requirements from GitHub runners & molecule with ansible collections
          path: '/home/runner/work/ansible-collection-tailscale/ansible-collection-tailscale/collections/ansible_collections/artis3n/tailscale'

      - name: TEMPORARY - Set up Python 3.13 for pre-commit dependency
        uses: actions/setup-python@v6
        with:
          python-version: '3.14'

      # Technically, uv will manage python version but this action will cache it, making python installation faster
      - name: Set up Python 3.x
        uses: actions/setup-python@v6
        with:
          python-version-file: 'collections/ansible_collections/artis3n/tailscale/pyproject.toml'

      - name: Install dependency manager
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true

      - name: Install packages
        run: uv sync --frozen

      - name: Lint
        run: make lint
