name: Publish to Ansible Galaxy

on:
  release:
    types:
      - published

  workflow_dispatch:

jobs:
  publish:
    runs-on: ubuntu-latest
    environment: Release
    concurrency: collection-release
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Publish to Ansible Galaxy
        uses: artis3n/ansible_galaxy_collection@v2
        with:
          api_key: '${{ secrets.GALAXY_API_KEY }}'
